body {
  font-family: Arial, sans-serif;
  background: #d1e4f1;
  margin: 0;
  padding: 20px;
}

.header {
  margin: 0 auto;
}

.container {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1, h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.config_element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 2px;
}

.config_input {
  display: flex;
  justify-content: flex-end;
}

.config_label {
  font-weight: bold;
}

select, input {
  width: 50%;
  padding: 5px;
  font-size: 15px;
  margin: 2px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  resize: none;
  box-sizing: border-box;
  border-radius: 8px;
}

#config_base {
  display: flex;
  justify-content: center;
  padding: 5px;
}

#config {
  width: 70%;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  padding: 5px 20px;
}

#button_base {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 5px;
}

.can_generate {
  width: 80%;
  padding: 10px 200px;
  font-size: 25px;
  background: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.can_generate:hover {
  background: #0056b3;
}

.cannot_generate {
  width: 80%;
  padding: 10px 200px;
  font-size: 25px;
  background: #b0b0b0;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
}

.output {
  text-align: center;
  margin-top: 30px;
}

#qr_base {
  width: 100%;
  display: flex;
  justify-content: center;
}

#qr_field {
  width: 90%;
  aspect-ratio: 1;
  border: 2px solid #000;
  background-image: linear-gradient(45deg, #00000020 25%, transparent 25%, transparent 75%, #00000020 75%),
	  linear-gradient(45deg, #00000020 25%, transparent 25%, transparent 75%, #00000020 75%);
  background-position: 0 0, 30px 30px;
  background-size: 60px 60px;
  background-color: #FFF;
  box-sizing: border-box;
  margin: 15px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#qr_image {
  display: block;
  max-width: 90%;
  max-height: 90%;
}

#download_base {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

#download_field {
  width: 90%;
  display: flex;
  justify-content: right;
}

.can_download {
  width: 30%;
  padding: 10px 10px;
  font-size: 25px;
  background: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.can_download:hover {
  background: #0056b3;
}

.cannot_download {
  width: 30%;
  padding: 10px 10px;
  font-size: 25px;
  background: #b0b0b0;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

a {
  text-decoration: none;
}