body {
  font-family: Arial, sans-serif;
  background: #d1e4f1;
  margin: 0;
  padding: 20px;
}

.header {
  margin: 0 auto;
}

.container {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1, h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.config_element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 2px;
}

.config_input {
  display: flex;
  justify-content: flex-end;
}

.config_label {
  font-weight: bold;
}

select, input {
  width: 50%;
  padding: 5px;
  font-size: 15px;
  margin: 2px;
}

textarea {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  resize: none;
  box-sizing: border-box;
  border-radius: 8px;
}

#config_base {
  display: flex;
  justify-content: center;
  padding: 5px;
}

#config {
  width: 70%;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  padding: 5px 20px;
}

#button_base {
  display: flex;
  justify-content: center;
  padding: 5px;
}

#generate_button {
  width: 80%;
  padding: 10px 200px;
  font-size: 25px;
  background: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
}

#generate_button:hover {
  background: #0056b3;
}

.output {
  text-align: center;
  margin-top: 30px;
}

#qr_field {
  width: 100%;
  aspect-ratio: 1;
}
